//Contact Page Styles 


.contact-main{
    padding: 0 !important;

    .feat-img{ 
        margin-bottom: 0;
        position: relative;
        
        img{
            height: 250px;
            object-fit: cover;
            filter: brightness(60%); 
            display: block;
            width: 100vw;
            max-width: 100vw;
            margin: 2rem calc(50% - 50vw);
            margin-top: 0;
        }
    
        h1, h2{
            margin: 0;
            color: white;
            position: absolute;
            text-shadow: $headingShadow; 
            z-index: 9;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
            padding: 0;
            width: 100%;
        }

        h1{
            top: 100px;
            font-size: min(max(2rem, 5vw), 2.75rem);
            @media (min-width: 580px){
                top: 80px;
            }
        }     

        h2{
            top: 150px;
            font-size: min(max(1.25rem, 3vw), 1.75rem);            
            font-family: $tsHeading;
        }    
    }

    .contact-wrapper{
        position: relative;
        width: 100%;
        margin-top: -10px;
                
        .store-location{
            
            .image-store{
                padding: 0;
                position: relative;
                margin: 0;

                img{
                    max-height: 250px;
                    object-fit: cover;
                    display: block;
                    @include top-shadow();
                }
            }

            .contact-store-info{
                background-color: $tsMint;
                padding: 3rem 2rem;
                h2{
                    font-size: 1.35rem;
                    margin-top: 0;
                }
                p{
                    margin: 0;
                    width: 100%;
                    padding: 0;
                    font-size: 0.95rem;
                }
                .highlight{
                    font-weight: $tsMedium;
                    margin-bottom: 1.5rem;
                }
            }
            @media(min-width: 650px){
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                max-width: 800px;
                min-width: 650px;
                margin-bottom: 0;
                padding: 0;

                .image-store{
                    height: 250px;
                    width: 400px;
                   
                    img{
                        max-height: 100%;
                        min-height: 100%;
                        @include box-shadow();
                    }
                }

                .contact-store-info{
                    width: 450px;
                    max-width: 800px;
                    margin: 10px 0 10px -80px;
                    padding: 3rem 4rem 3rem 120px;
                }
            }
        }
        @media(min-width: 650px){
            margin-top: 50px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }//wrapper end

    .contact-map-form-container{
        .acf-map {
            width: 100%;
            height: 400px;
            margin: 20px 0;
        }
        // Fixes potential theme css conflict.
        .acf-map img {
            max-width: inherit !important;
        }
        .contact-form-container{
            padding: 15px;
        }  

        @media(min-width: 650px){
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
            height: 800px;
            margin: 25px 0 45px 0;
            max-width: $siteWidth;

            .acf-map{
                margin-top: 105px;
            }

            .contact-form-container{
                width: 85%;
                height: 500px;
                padding-top: 0;
    
                h2{
                    width: 100%;
                }
            }
        }
    }
    
}
